@using Habits.UIToolkit
@using Habits.UIToolkit.Footer
@using Habits.UIToolkit.MainContainer
@inherits LayoutComponentBase
<MobileContainer>
    <MainComponent>
        @Body
    </MainComponent>
    <FooterLayoutComponent ActiveItem="Home" />
</MobileContainer>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
