@using Habits.UIToolkit
@using Habits.UIToolkit.Footer
@using Habits.UIToolkit.MainContainer
@inherits LayoutComponentBase
<MobileContainer>
    <MainComponent>
        <div class="container">
            @Body
        </div>
    </MainComponent>
    <FooterLayoutComponent ActiveItem="Settings" />
</MobileContainer>

<div id="blazor-error-ui">
    یک خطای کنترل نشده رخ داده است.
    <a href="" class="reload">بارگیری مجدد</a>
    <a class="dismiss">🗙</a>
</div>
