@page "/"


<PageTitle>ابتدا</PageTitle>
<HeadingComponent Icon="chrome-restore" class="mt-3 shadow-sm">انتخاب سرویس</HeadingComponent>
<div class="row mt-2 g-3">
    <div class="col-xs-12 col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">آواشو</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">تبدیل متن به گفتار</h6>
                <p class="card-text text-justify">
                    سرویس تبدیل محتوای متنی به گفتار واقعی؛ به طوری که سیستم با داشتن متن بتواند از روی آن بخواند.
                </p>
                <a href="services/text-to-speach" class="card-link float-end">استفاده</a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">احوال‌پرسی</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">ربات چت‌بات تعاملی</h6>
                <p class="card-text text-justify">
                    سرویس چت‌بات تعاملی؛ رباتی جهت پاسخ به احوال پرسی کاربران، س‍پاس گزاری و اتمام مکالمه است.
                </p>
                <a href="services/chit-chat-bot" class="card-link float-end">استفاده</a>
            </div>
        </div>
    </div>
</div>
