/* _content/Habits.UIToolkit/Footer/FooterComponent.razor.rz.scp.css */
footer[b-x3pi6euale] {
    background-color: #f8f9fa;
    text-align: center;
    position: sticky;
    padding: 10px;
    bottom: 0;
}
.footer-container[b-x3pi6euale] {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    min-height: 60px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px gainsboro;
    padding: 0 20px 0 20px;
    margin: 0 10px 10px 10px;
}


/* _content/Habits.UIToolkit/Footer/FooterItemComponent.razor.rz.scp.css */
.menu-icon[b-1ad4gakiui] {
    width: 24px;
    height: 24px;
}
    [b-1ad4gakiui].menu-icon.active > svg > path{
        fill: #429ebd !important;
        cursor:default;
    }
[b-1ad4gakiui].menu-icon.inactive > a > svg > path {
    fill: #bbbbbb !important;
    cursor: pointer;
}
/* _content/Habits.UIToolkit/Heading/HeadingComponent.razor.rz.scp.css */
.app-heading[b-m5619rx7rt] {
    background-color: #f8f9fa; /* Soft gray background */
    border: 1px solid #dee2e6; /* Border */
    padding: 10px; /* Proper padding */
    display: flex;
    align-items: center;
    margin: 0; /* No margin */
    border-radius: 5px;
    white-space: nowrap;
    overflow:hidden;
}

    .app-heading .icon-square[b-m5619rx7rt] {
        background-color: #2775c2; /* Dark gray background for the icon */
        color: white; /* White icon color */
        width: 40px;
        min-width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: -10px -10px -10px 10px;
        border-radius:0 5px 5px 0;
    }

    .app-heading h6[b-m5619rx7rt] {
        margin: 0;
        font-size: 1.0rem;
        color: #343a40; /* Dark gray text color */
        font-weight:bold;
    }
/* _content/Habits.UIToolkit/MainContainer/MainComponent.razor.rz.scp.css */
main[b-uoeoemseml] {
    padding-bottom: 50px;
    padding-top: 0px;
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    overflow-y: auto;
}
/* _content/Habits.UIToolkit/MobileContainer.razor.rz.scp.css */
html[b-uva3c7xidl], body[b-uva3c7xidl] {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    overscroll-behavior: none;
    touch-action: pan-down;
}

#app[b-uva3c7xidl] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#app-container[b-uva3c7xidl] {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100%;
    height: 100%;
    position: relative;
    overflow-y:auto;
}
